@import url("/w3.css");  

@import url('http://fonts.cdnfonts.com/css/corbel');

*, button, p, h1, h2, h3, h4, h5, h6, em, b, strong, u, i{
  font-family: "Corbel", sans-serif;
}

html,body{
    background-color: rgb(0 150 136);
  }


[main]{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  left:0;
  width: 100%;
  padding-top: 50px;
}
